.form-type-checkbox-tree li{
 list-style-type:none;
}
.form-type-checkbox-tree input{
 margin:0 5px;
 font-size:6px;
}
.checkbox_tree_plus{
 padding:8px 0;
  width:20px;
  height:20px;
  display:block;
  background-repeat:no-repeat;
  background-position:50% 50%;
}
.checkbox_tree_plus.plus,.checkbox_tree_plus.minus{
 cursor:pointer;
}
.checkbox_tree_plus.plus{
  background-image:url('images/plus.gif');
}
.checkbox_tree_plus.minus{
  background-image:url('images/minus.gif');
}
.checkbox_tree_plus.leaf{
  background-image:url('images/leaf.gif');
}